<h2>Android packages download</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>环境</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>dev</td>
        <th><a href="http://10.128.184.56:8080/api/download/packages/app-release-dev.apk">download</a></th>
    </tr>
    <tr>
        <td>uat</td>
        <th><a href="http://10.128.184.56:8080/api/download/packages/app-release-uat.apk">download</a></th>
    </tr>
    <tr>
        <td>product</td>
        <th><a href="http://10.128.184.56:8080/api/download/packages/app-release-product.apk">download</a></th>
    </tr>

</table>