@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <title>Video</title>
  <style>
      
  </style>
</head>
<body>
  <div id="content">
    <!-- <video src="/碟中谍.1.(1996).国英双语.中英双字.mp4"  width="320" height="240" controls="controls"> -->
    <!-- <video src="/vedio/电影/碟中谍/碟中谍.5.(2015).国英双语.中英双字.mp4"  width="320" height="240" controls="controls"> -->
    <video src="/vedio/电影/美国队长2/美国队长2-冬日日战士2014.mp4"  width="320" height="240" controls="controls">
      Your browser does not support the video tag.
    </video>
  </div>

  <script type="text/javascript">
  </script>
</body>
</html>

