@model String
@{
ViewData["Title"] = "Index";
<!-- Layout = null; -->
}
<div id="content">
    <div id="layout" class="editormd-html-preview" style="padding: 0;">
        <div id="test-editormd-view" style="padding: 0">
            <a id="top"></a>
            <textarea style="display:none;" name="test-editormd-markdown-doc">@Model</textarea>
        </div>
        @*<div id="test-editormd-view2" class="editormd-html-preview">
                <textarea id="append-test" style="display:none;">@Model</textarea>
            </div>*@
    </div>
</div>
<div id="back_to_top" >
    <a href="#" style="text-decoration:none;color: rgb(255, 255, 255);">back to top</a>
</div>
<!-- <script src="js/zepto.min.js"></script>
<script>
    var jQuery = Zepto;  // 为了避免修改flowChart.js和sequence-diagram.js的源码，所以使用Zepto.js时想支持flowChart/sequenceDiagram就得加上这一句
</script> -->
<!-- <script src="~/lib/editor-md/examples/js/jquery.min.js"></script> -->
<!-- <script src="~/lib/editor-md/lib/marked.min.js"></script>
<script src="~/lib/editor-md/lib/prettify.min.js"></script>

<script src="~/lib/editor-md/lib/raphael.min.js"></script>
<script src="~/lib/editor-md/lib/underscore.min.js"></script>
<script src="~/lib/editor-md/lib/sequence-diagram.min.js"></script>
<script src="~/lib/editor-md/lib/flowchart.min.js"></script>
<script src="~/lib/editor-md/lib/jquery.flowchart.min.js"></script>

<script src="~/lib/editor-md/editormd.js"></script> -->
<!-- <script type="text/javascript">
    $(function () {
        var testEditormdView, testEditormdView2;

        //        $.get("http://localhost:52013/lib/editor-md/examples/test.md", function(markdown) {

        //testEditormdView = editormd.markdownToHTML("test-editormd-view", {
        //                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
        //                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
        //                htmlDecode      : "style,script,iframe",  // you can filter tags decode
        //                //toc             : false,
        //                tocm            : true,    // Using [TOCM]
        //                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
        //                //gfm             : false,
        //                //tocDropdown     : true,
        //                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
        //                emoji           : true,
        //                taskList        : true,
        //                tex             : true,  // 默认不解析
        //                flowChart       : true,  // 默认不解析
        //                sequenceDiagram : true,  // 默认不解析
        //            });

        //            //console.log("返回一个 jQuery 实例 =>", testEditormdView);

        //            // 获取Markdown源码
        //            //console.log(testEditormdView.getMarkdown());

        //            //alert(testEditormdView.getMarkdown());
        //        });

        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown: "",
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });

        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
    });
</script> -->


@section Scripts{
<script src="~/lib/editor-md/lib/marked.min.js"></script>
<script src="~/lib/editor-md/lib/prettify.min.js"></script>

<script src="~/lib/editor-md/lib/raphael.min.js"></script>
<script src="~/lib/editor-md/lib/underscore.min.js"></script>
<script src="~/lib/editor-md/lib/sequence-diagram.min.js"></script>
<script src="~/lib/editor-md/lib/flowchart.min.js"></script>
<script src="~/lib/editor-md/lib/jquery.flowchart.min.js"></script>

<script src="~/lib/editor-md/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        var testEditormdView, testEditormdView2;

        //        $.get("http://localhost:52013/lib/editor-md/examples/test.md", function(markdown) {

        //testEditormdView = editormd.markdownToHTML("test-editormd-view", {
        //                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
        //                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
        //                htmlDecode      : "style,script,iframe",  // you can filter tags decode
        //                //toc             : false,
        //                tocm            : true,    // Using [TOCM]
        //                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
        //                //gfm             : false,
        //                //tocDropdown     : true,
        //                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
        //                emoji           : true,
        //                taskList        : true,
        //                tex             : true,  // 默认不解析
        //                flowChart       : true,  // 默认不解析
        //                sequenceDiagram : true,  // 默认不解析
        //            });

        //            //console.log("返回一个 jQuery 实例 =>", testEditormdView);

        //            // 获取Markdown源码
        //            //console.log(testEditormdView.getMarkdown());

        //            //alert(testEditormdView.getMarkdown());
        //        });

        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown: "",
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });

        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
    });
</script>
}


