@model String

<div>
  <textarea style="display:none" id="mark-content">@Model</textarea>
</div>
@section Catalog{
  @foreach (var f in (Newtonsoft.Json.Linq.JArray)ViewBag.Catalogue) {
    <li><a href="#">@f["name"]</a></li>
  }
}

@section Links{
  <link rel="stylesheet" href="~/css/mark.css" />
}

@section Scripts{
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    $(document).ready(function(){
      document.getElementById('blog-content').innerHTML =
      marked($("#mark-content").val());
    });
  </script>
}

