@model String

<div>
  <textarea style="display:none" id="mark-content">@Model</textarea>
</div>

@section Catalog{
  @foreach (var f in (Newtonsoft.Json.Linq.JArray)ViewBag.Catalogue) {
    <li>
      <a href="javascript:void(0);" path=@f["path"] onclick="getDoc(this)">@f["name"].ToString().Replace(".md", "")</a>
    </li>
  }
}

@section Links{
  <link rel="stylesheet" href="~/css/mark.css" />
}

@section Scripts{
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    $(document).ready(function(){
      document.getElementById('blog-content').innerHTML =
      marked($("#mark-content").val());
    });

    <!-- xhr -->
    @*var xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/file/fileInfo/note/racs");
    xhr.responseType = 'json';
    xhr.onload = function() {
      console.log(xhr.response);
    };
    xhr.onerror = function() {
      console.log("Oops, error");
    };
    xhr.send(); *@

    <!-- fetch -->
    @*fetch("/api/file/fileInfo/note/racs").then(function(response) {
      return response.json();
    }).then(function(data) {
      console.log(data);
      for(const blink of data.children) {
        console.log(blink)
        $("#catalog").append(`<li><a href="/docs${blink.path}">${blink.name}</a></li>`);
      }
    }).catch(function(e) {
      console.log("Oops, error");
    });*@

    function getDoc (e) {
      const path = $(e).attr('path')
      const newUrl = `${window.location.protocol}\/\/${document.domain}/docs${path}`;
      window.history.replaceState({}, '', newUrl);

      fetch("/api/file/content" + path).then(function(response) {
        return response.text();
      }).then(function(data) {
        document.getElementById('blog-content').innerHTML =
        marked(data);
      }).catch(function(e) {
        console.log("fetch blog content error!");
      });
    }
  </script>
}

