<div class="leftNav">
  <div id="samplesToc">
    <div id="tree" style="top: 35px; left: 0px;" class="treeDiv">
      <div id="treeRoot" onselectstart="return false" ondragstart="return false">
        @Html.Raw(@Model)
      </div>
    </div>
  </div>
</div>